.inline {
	display: inline-block;
}

.wrapper {
	width: 900px;
  min-width: 900px;
	margin-bottom: 3em;
}

#visualization {
	padding: 30px;
	text-align: center;
	border: 2px solid #aaa;
	border-radius: 5px;
}

input[type=range] {
	display: inline;
	width: 120px;
	margin: 0 6px;
}

form .row {
	margin-top: 2em;
}

.selectCarrier {
	font-weight: normal;
}

.selectCarrier input {
	margin-right: 5px;
}

#visualization {
	margin-bottom: 2em;
}

.blue {
	color: #3780b4;
}

.orange {
	color: #fb6c3b;
}

form .likert {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;
}
form .likert:last-of-type {border-bottom:0;}
form .likert:before {
  content: '';
  position:relative;
  top:11px;
  left:6.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:81.25%;
}
form .likert li {
  display:inline-block;
  width:13%;
  text-align:center;
  vertical-align: top;
}
form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
  
}
form .likert li label {
  width:100%;
  font-weight: 400;
}

.likert-group {
  margin-top: 0.5em;
}

.questions .form-group {
  border: 1px solid lightgray;
  padding-top: 1em;
}

.form-group > label {
  font-size: 1.2em;
}

label > small {
  font-weight: normal;
}

#visualization div {
  padding: 0;
}

#visualization div:nth-child(3) img {
  margin-left: -30px;
}
#visualization div:nth-child(4) img {
  margin-right: -30px;
}
